################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/obj
**/.vs/**
/.vs/ContainerApp01
/ContainerApp01/bin/**
/ContainerApp01/obj/**

.fake
/ContainerApp01/bin/Release/net7.0
/.vs/ProjectEvaluation
