<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/064a034c-c421-41e4-aa41-560b500ff4c1/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.ContainerRegistry/registries/mregisregistry</ContainerResourceId>
    <ContainerResourceName>mregisregistry</ContainerResourceName>
    <Subscription>Pay As You Go</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>mregisregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>simple-hello-world-container</ContainerName>
    <EnvironmentName>containers-environment</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://container-siinv.wittysmoke-a3c8e4e6.brazilsouth.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/064a034c-c421-41e4-aa41-560b500ff4c1/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.App/containerapps/container-siinv</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>